html,
body {
    background: #000000;
}

.resume-body-wrapper {
    display: block;
}

.resume {
    grid-area: resume;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
    height: 70rem;
}

.home-button {
    display: block;
}

.zoni-img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
}

.zoni-img:hover {
    transform: scale(1.25);
    cursor: pointer;
}

@media (min-width: 250px) and (max-width: 850px) {
    body {
        background: #ffffff;
    }

     .resume {
        width: 97%;
    }
}

@media (orientation: portrait) {
    body {
        background: #ffffff;
    }

    .resume {
        width: 100%;
    }
}
