html,
body {
    background: #000000;
}

.wrapper {
    display: grid;
    font-family: 'Courier New', monospace;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "dz dz"
    "fm rm";
}

.drop-zone {
    grid-area: dz;
    justify-self: center;
    border: 5px solid #ffffff;
    color: #ffffff;
    height: 600px;
    position: relative;
    text-align: center;
    width: 60%;
}

.file-menu {
    border: 5px solid #ffffff;
    display: inline;
    grid-area: fm;
    height: 100px;
    justify-self: right;
    margin: 20px 10px 0 0;
    overflow-y: scroll;
    width: 40%;
}

.file-menu::-webkit-scrollbar {
    display: none;
}

.race-menu {
    border: 5px solid #ffffff;
    display: inline;
    grid-area: rm;
    height: 100px;
    margin: 20px 0 0 10px;
    overflow-y: scroll;
    width: 40%;
}

.race-menu::-webkit-scrollbar {
    display: none;
}



/*.open-file-window-close:after {*/
/*    content: '\d7';*/
/*    color: #ffffff;*/
/*}*/