html,
body {
    background: #000000;
}

p {
    color: #ffffff;
}

.tracker-body-wrapper {
    display: grid;
    font-family: 'Courier New', monospace;
    text-align: justify;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    ".     .      .     ."
    ".     dz     fm    ."
    ".     .      .     .";
    position: relative;
}

.right-buffer {
    grid-area: rb;
}

.drop-zone {
    grid-area: dz;
    border: 5px solid #ffffff;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: x-small;
}

.file-menu-wrapper {
    grid-area: fm;
    border: 5px solid #ffffff;
    width: 300px;
    height: 300px;
}

.file-item-wrapper {
    border: 2px solid #ffffff;
    border-top: hidden;
    border-right: hidden;
    display: flex;
    justify-content: space-between;
    margin: 10px 8px 0 8px;
    text-align: left;
}

.file-item-name {
    cursor: pointer;
    display: inline;
    font-size: x-small;
    margin: 0;
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    width: 90%;
}

.file-item-close {
    cursor: pointer;
    display: inline;
    font-size: x-small;
    margin-right: 5px;
    order: 1;
    /*margin-left: 80%;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 2px;*/
}